.ServicesContainer {
    width: 100%;
    height: fit-content;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.ServicesTitle {
    font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 2;
    text-align: center;
}

.ServicesSubtitle {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    max-width: 450px;
    text-align: justify;
}

.ServicesCardContainer {
    width: 100%;
    height: fit-content;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

@media (min-width: 600px) {
    .ServicesTitle {
        font-size: 38px;
    }
    .ServicesSubtitle {
        text-align: center;
        font-size: 16px;
    }
    .ServicesCardContainer {
        margin-top: 100px;
    }

}

@media (min-width: 1024px) {
    .ServicesTitle {
        font-size: 48px;
    }
    .ServicesSubtitle {
        font-size: 18px;
        max-width: 600px;
    }
}
