.galleryContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.galleryTitle {
    font-family: "montserrat";
    font-size: 32px;
    font-weight: 600;
    color: white;
}

@media (min-width: 600px) {
    .galleryTitle {
        font-size: 38px;
    }
}

@media (min-width: 1024px) {
    .galleryTitle {
        font-size: 48px;
    }
}