.MobileNavBarContainer {
    background: #2C2C2C;
}

.MobileNavBar {
    /* background: lightgrey; */
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 100;
}

.MobileNavBarHidden {
    display: none;
} 

.MobileNavBarVisible {
    display: flex;
}


.MobileNavBarLeft {
    width: 50%;
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
}

.MobileNavLogo {
    width: 100%;
    height: 70%;
    filter: invert(1);
    margin-left: 10px;
}

.MobileNavBarRight {
    width: 50%;
    height: 100%;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.HamburgerMenuContainer {
    margin-right: 20px;
    position: relative; /* Creates positioning context */
  }
  
  .HamburgerDropdown {
    position: absolute;
    top: 100%; /* Appears directly below the container */
    margin-top: 20px;
    right: 0;   /* Aligns with right edge of hamburger */
    min-width: 110px;
    height: 0px;
    background: #ededed;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    color: var(--background);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease, border 0.3s ease;
    
  }

  .HamburgerDropdownOpen {
    height: 200px;
    border: 2px solid #6631d7;
    filter: drop-shadow(0 0 10px rgba(102, 49, 215, 0.5));
  }
  .HamburgerDropdownNav {
    overflow: hidden;
  }

  .HamburgerDropdownItem {
    text-align: center;
    padding: 0.5rem 0;
    /* color: #6631d7; */
    color: black;
    font-weight: 600;
    position: relative;
  }

  .HamburgerDropdownItem:not(.HamburgerDropdownItemContact)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background: rgba(211, 211, 211, 0.498);
  }

.HamburgerDropdownItemContact {
    background: black;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-family: "montserrat";
    margin-top: 15px;
}




.PageContainer {
    background: #0a0a0a;
}

.HeroContainer {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.HeroSubtitleContainer {
    width: fit-content6;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
    margin-top: 50px;
}

.HeroSubtitle {
    /* border: 1px solid yellow; */
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HeroSubtitleItem {
    font-family: "Roboto";
    font-size: 26px;
    font-weight: 500;
}

.HeroContactButtonContainer {
    /* border: 1px solid purple; */
    height: fit-content;
    width: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.HeroContactButton {
    font-family: "montserrat";
    background: #6631d7;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: 600;
}

.HeroImageContainer {
    height: fit-content;
    width: 500px;
    background: white;
    border-radius: 20px;
}

@media (min-width: 600px) {
    .HeroSubtitleContainer {
        margin-top: 80px;
    } 
}

@media (min-width: 1024px) {
    .HeroSubtitleContainer {
        margin-top: 100px;
    }

    .HeroSubtitleItem {
        font-size: 32px;
    }
}

@media (min-width: 2560px) {
}


.HeroTitleContainer {
    width: 100%;
    height: fit-content;
    /* background: red; */
    padding: 0rem 1rem;
}

.HeroTitle {
    width: 90vw;
    height: fit-content;
    /* background: blue; */
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.HeroTitleText {
    font-family: "montserrat";
    font-size: clamp(44px, 12vw, 62px);
    font-weight: 600;
    text-align: left;
}

@media (min-width: 1440px) {
    .HeroTitle {
        max-width: 900px;
        margin-left: 10vw;
    }
}

.HeroTitleTextHighlight {
    background-image: linear-gradient(to right, #6631d7, #8f7fee, #dedaff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}


.AboutContainer {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.PFPContainer {
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
}

.AboutTextContainer {
    height: 200px;
    width: 300px;
    /* background: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.AboutTextName {
    width: 85%;
    height: 40px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutTextName h2 {
    font-family: "Homoarakhn";
    font-size: 20px;
    letter-spacing: 1px;
}

.AboutTextExperience {
    width: 85%;
    height: 35px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutTextExperience h3 {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.AboutTextBrief {
    width: 85%;
    height: 120px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutTextBrief p {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.ExampleImage {
    height: 150px;
    width: 300px;
    background: blue;
}

@media (min-width: 600px) {
    .PFPContainer {
        height: 200px;
        width: 200px;
    }

    .AboutTextContainer {
        height: 250px;
        width: 400px;
    }

    .AboutTextName h2 {
        font-size: 24px;
    }

    .AboutTextExperience h3 {
        font-size: 14px;
    }

    .AboutTextBrief p {
        font-size: 14px;
    }

    .ExampleImage {
        height: 200px;
        width: 400px;
    }
} 

.ServicesContainer {
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.ServiceTitleContainer {
    height: 100px;
    width: 100%;
    /* background: blue; */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ServiceTitle {
    font-family: "montserrat";
    font-size: clamp(32px, 8vw, 42px);
    font-weight: 600;
}

.ServiceCardThinContainer {
    height: 500px;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 1024px) {
    .ServiceCardThinContainer {
        gap: 40px;
    }
}

@media (min-width: 1440px) {
    .ServiceCardThinContainer {
        gap: 50px;
    }

    .ServiceTitle {
        margin-bottom: 75px;
    }
}

.GalleryContainer {
    width: 100%;
    height: 275dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background: red; */
    position: relative;
}

.GalleryTitle{
    font-family: "Homoarakhn";
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
    z-index: 100;
}
@media (min-width: 600px) {
    .GalleryContainer {
        height: 280dvh;
    }

    .GalleryTitle {
        font-size: 38px;
    }
}

@media (min-width: 1440px) {
    .GalleryContainer {
        height: 305dvh;
    }

    .GalleryTitle {
        font-size: 42px;
    }
}