.MobileNavBarContainer {
    background: #2C2C2C;
}






.PageContainer {
    /* background: #0a0a0a; */
    background: linear-gradient(to right, #1c1c1e, #2c2c2e, #1a1a1c);
}




.AboutContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
}

.svgContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.PFPContainer {
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 50%;
}

.AboutTextContainer {
    height: 200px;
    width: 300px;
    /* background: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.AboutTextName {
    width: 85%;
    height: 40px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutTextName h2 {
    font-family: "Homoarakhn";
    font-size: 20px;
    letter-spacing: 1px;
}

.AboutTextExperience {
    width: 85%;
    height: 35px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutTextExperience h3 {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.AboutTextBrief {
    width: 85%;
    height: 120px;
    /* background: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.AboutTextBrief p {
    font-family: "Roboto";
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
}

.ExampleImage {
    height: 150px;
    width: 350px;
    overflow: hidden;
    border-radius: 12px;
    background: rgba(44, 44, 44, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ExampleImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: linear-gradient(to right, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0));
    z-index: 2;
    pointer-events: none;
}

.ExampleImage::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    height: 100%;
    background: linear-gradient(to left, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0));
    z-index: 2;
    pointer-events: none;
}

@media (min-width: 600px) {
    .PFPContainer {
        height: 200px;
        width: 200px;
    }

    .AboutTextContainer {
        height: 250px;
        width: 400px;
    }

    .AboutTextName h2 {
        font-size: 24px;
    }

    .AboutTextExperience h3 {
        font-size: 14px;
    }

    .AboutTextBrief p {
        font-size: 14px;
    }

    .ExampleImage {
        height: 200px;
        width: 400px;
        overflow: hidden;
        border-radius: 12px;
        background: rgba(44, 44, 44, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ExampleImage::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 100%;
        background: linear-gradient(to right, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0));
        z-index: 2;
        pointer-events: none;
    }

    .ExampleImage::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        height: 100%;
        background: linear-gradient(to left, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0));
        z-index: 2;
        pointer-events: none;
    }
} 

.ServicesContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.ServiceTitleContainer {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ServiceTitle {
    font-family: "montserrat";
    font-size: clamp(32px, 8vw, 42px);
    font-weight: 600;
}

.ServiceCardThinContainer {
    height: 500px;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media (min-width: 1024px) {
    .ServiceCardThinContainer {
        gap: 40px;
    }
}

@media (min-width: 1440px) {
    .ServiceCardThinContainer {
        gap: 50px;
    }

    .ServiceTitle {
        margin-bottom: 75px;
    }
}

.GalleryContainer {
    width: 100%;
    height: 275vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background: red; */
    position: relative;
}

.GalleryTitle{
    font-family: "montserrat";
    font-size: clamp(32px, 8vw, 42px);
    font-weight: 600;
    letter-spacing: 1px;
    position: sticky;
    top: 0;
    z-index: 100;
}
@media (min-width: 600px) {
    .GalleryContainer {
        height: 280vh;
    }

    .GalleryTitle {
        font-size: 38px;
    }
}

@media (min-width: 1440px) {
    .GalleryContainer {
        height: 305vh;
    }

    .GalleryTitle {
        font-size: 42px;
    }
}